:root {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
}
footer {
  color: whitesmoke;
  margin-top: auto;
  background-color: #0d6efd;
  padding: 16px;
}
.navbar-custom {
  height: 60px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}
.navbar-custom .container {
  max-width: 100vw;
  padding-left: 16px;
  padding-right: 16px;
}
.theme-font-color {
  color: #0d6efd;
}
.page-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #0d6efd;
}
.form-control, .btn-primary, .btn-light, .btn-outline-light {
  font-size: inherit;
  border-radius: 6px;
}
.form-control:focus {
  box-shadow: none;
  background-color: rgba(229, 225, 177, 0.2);
}
.form-label {
  margin-bottom: 2px;
}

.container-400 {
  width: 400px;
  padding: 16px;
}
.error {
  color: #ff6b6b;
  font-size: 0.875rem;
  margin-top: 4px;
}

@media screen and (max-width:768px) {
  .container-400 {
    width: 100vw;
  }
}


/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  .container-400 {
    width: 100vw;
    padding: 16px;
  }
} */
